.vscode/settings.json
code/__pycache__/helio_coords.cpython-311.pyc
code/__pycache__/helio_coords.cpython-313.pyc
code/__pycache__/helio_time.cpython-311.pyc
code/__pycache__/helio_time.cpython-313.pyc
code/__pycache__/mplot.cpython-311.pyc
code/__pycache__/mplot.cpython-313.pyc
code/__pycache__/sunspots.cpython-311.pyc
code/__pycache__/sunspots.cpython-313.pyc
code/__pycache__/system.cpython-311.pyc
code/__pycache__/system.cpython-313.pyc
